{% load static %}  
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Projeto</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>

    <aside class="sidebar">
        
        <header class="sidebar-header">
            <div class="version-switcher">
                <label for="version-select">Versão:</label>
                <select id="version-select" name="version">
                    <option value="Cidades">Localizacao</option>
                </select>
            </div>

            <form role="search" class="search-form">
                <label for="search-input" class="visually-hidden">Buscar na documentação</label>
                <input type="search" id="search-input" placeholder="Buscar...">
            </form>
        </header>

        <div class="sidebar-content">
            <nav aria-label="Navegação principal">
                <ul>
                    <li>
                        <h3>Projetos</h3>
                        <ul>
                            <li><a href="andamento">Em andamento</a></li>
                            <li><a href="#">Finalizados</a></li>
                            <li><a href="#">Em aberto</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3>Catalogo</h3>
                        <ul>
                            <li><a href="#">RH</a></li>
                            <li>
                                <a href="#" class="active" aria-current="page">Calculadora de m2</a>
                            </li>
                            <li><a href="#">Gestão de perdas</a></li>
                             <li><a href="#">Frota</a></li>
                              <li><a href="#">Gestor de perdas</a></li>
                            <li><a href="#">Orcamentos</a></li>
                            <li><a href="#">Financeiro</a></li>
                             <li><a href="#">manutencao</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-rail"></div>
    </aside>

    <main>
        </main>


    <script src="{% static 'js/location.js' %}"></script>

</body>
</html>